body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.grid-box {
    border: 1px solid black;
    box-sizing: border-box;
}